$color-background: #fafafa;
$color-font: #101010;
$color-menu-background: #111;
$color-font-golden: #c29848;

$font-serif: "Playfair Display", serif;
$font-sans-serif: "Poppins", sans-serif;
$font-sans-serif-2: "Source Sans Pro", sans-serif;

$font-cursive: "Kaushan Script", cursive;

$size-desktop-navbar: 100%; // Puxa o botão do menu para a esquerda
$size-nav-button-icon: 3.2vh;
$size-nav-button: 6vh;

@mixin text-style(
  $font-family: "Arial",
  $font-size: 2.5vh,
  $text-color: black,
  $font-weight: regular
) {
  font-family: $font-family;
  font-size: $font-size;
  color: $text-color;
  font-weight: $font-weight;
}

.title {
  @include text-style($font-serif, 5.77vh, #101010);
}

.text-block {
  @include text-style($font-sans-serif, 1.75vh, #303030);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.75;
}

::selection {
  background-color: #303030;
  color: #f0f0f0;
}

// Menu de navegação:
.header {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 12vh;

  position: fixed;

  .navbar {
    display: flex;
    justify-content: end;

    width: $size-desktop-navbar;
    height: 10vh;

    padding: 1.8%;
  }
}

.nav-button-container {
  border-radius: 50%;
  background-color: white;

  height: $size-nav-button;
  width: $size-nav-button;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .nav-button {
    width: $size-nav-button-icon;
    height: $size-nav-button-icon;
  }
}

.nav-menu {
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  background-color: $color-menu-background;

  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
}

.nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: $font-sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

  &:hover {
    color: #f1f1f1;
  }
}

.nav-menu .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 66px;
  margin-left: 50px;
}

// Adapatações para outros dispositivos
@media only screen and (max-aspect-ratio: 1/1) and (orientation: portrait) {
  .navbar {
    width: 100%;
  }

  .header {
    background-color: white;
    height: 8vh;
  }
}
