.title {
  font-family: "Playfair Display", serif;
  font-size: 6vh;
  color: #303030;
  font-weight: regular;
}

.text-block {
  font-family: "Poppins", sans-serif;
  font-size: 2vh;
  color: #303030;
  font-weight: regular;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  line-height: 1.75;
}

::selection {
  background-color: #303030;
  color: #f0f0f0;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 18vh;
  position: fixed;
}
.header .navbar {
  display: flex;
  justify-content: end;
  width: 100%;
  height: 18vh;
  padding: 1.8%;
}

.nav-button-container {
  border-radius: 50%;
  background-color: white;
  height: 6vh;
  width: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.nav-button-container .nav-button {
  width: 3.2vh;
  height: 3.2vh;
}

.nav-menu {
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
  background-color: #111;
  width: 0;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  position: fixed;
  overflow-x: hidden;
}

.nav-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.nav-menu a:hover {
  color: #f1f1f1;
}

.nav-menu .close-button {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 66px;
  margin-left: 50px;
}

@media only screen and (max-aspect-ratio: 1/1) and (orientation: portrait) {
  .navbar {
    width: 100%;
  }
}
section {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.text-div-1 {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-div-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: start;
  background-color: black;
}
.image-div-1 .person-picture-1 {
  width: 100%;
  height: auto;
}

.content-div-1 {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.content-div-1 .content-button {
  border: 2px solid #e6e6e6;
  background-color: transparent;
  font-size: 1.454vh;
  width: 54%;
  text-align: start;
  line-height: 1.3;
  font-weight: 500;
  color: #202020;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
.content-div-1 i {
  padding: 20px;
  border-right: 2px solid #e6e6e6;
  margin-right: 20px;
  font-size: 1.95vh;
}
.content-div-1 .card {
  width: 26vw;
  max-height: 40vh;
  font-size: 0vh;
  margin: 2vh;
  margin-left: 0;
  margin-right: 0;
  transition: 0.3s;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  color: #787878;
  padding: 4px;
  padding-left: 0;
  padding-right: 0;
  line-height: 1.5;
}
@media only screen and (max-aspect-ratio: 1/1) and (orientation: portrait) {
  section {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
