section {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.text-div-1 {
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-div-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: start;

  background-color: black;

  .person-picture-1 {
    width: 100%;
    height: auto;
  }
}

.content-div-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-transform: uppercase;

  button {
    width: 48%;
    height: 8vh;
  }

  .card {
    width: 26vw;
    max-height: 18vh;
    font-size: 0vh;
    margin: 2vh;
    transition: 0.7s;
    font-family: $font-sans-serif;
  }
}

@media only screen and (max-aspect-ratio: 1/1) and (orientation: portrait) {
  section {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
