section {
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

#section-1 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label0 label1";

  .text-div-1 {
    padding: 28%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    grid-area: label0;
  }

  .image-div-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;

    background-color: black;

    grid-area: label1;

    .person-picture-1 {
      width: 100%;
      height: auto;
    }
  }
}

#section-2 {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label1 label0";

  .image-div-1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: start;

    background-color: black;
    grid-area: label1;

    .person-picture-1 {
      width: 100%;
      height: auto;
    }
  }

  .content-div-1 {
    padding: 8vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    grid-area: label0;

    .content-button {
      border: 2px solid #e6e6e6;
      background-color: transparent;
      font-size: 1.454vh;
      width: 54%;
      text-align: start;
      line-height: 1.3;
      font-weight: 500;
      color: #202020;
      cursor: pointer;
      font-family: $font-sans-serif;

      padding-top: 20px;
      padding-bottom: 20px;

      transition: 0.4s;

      text-transform: uppercase;
    }

    i {
      padding: 20px;
      border-right: 2px solid #e6e6e6;
      margin-right: 20px;
      font-size: 1.95vh;

      transition: 0.4s;
    }

    .card {
      width: 26vw;
      max-height: 50vh;
      font-size: 0vh;
      margin: 2vh;
      margin-left: 0;
      margin-right: 0;
      transition: 0.3s;
      font-family: $font-sans-serif-2;
      font-weight: 400;
      color: #787878;
      padding: 4px;
      padding-left: 0;
      padding-right: 0;
      line-height: 1.5;
    }
  }
}

#section-3 {
  background-image: url("images/background.png");
  background-size: 100%;
  background-position: 0% 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .content-div-2 {
    width: 34%;
    margin-left: -25%;
    margin-bottom: -10%;
    height: 40vh;

    h1 {
      font-family: $font-cursive;
      color: $color-font-golden;
      font-size: 4vh;
      margin-bottom: 1vh;
    }

    .citacao {
      font-family: $font-serif;
      font-size: 2.5vh;
      color: white;
      font-weight: bold;
      line-height: 1.5;
    }

    h5 {
      font-family: $font-sans-serif;
      font-size: 1.24vh;
      color: white;
      font-weight: 600;
    }
  }
}

#section-4 {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label1 label0";

  .content-div-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    grid-area: label0;
  }

  .whatsapp-button {
    width: 25vw;
    margin: 4vh;
    height: 6vh;

    text-align: start;
    font-size: 2.4vh;

    background-color: #25d366;

    color: white;

    border: unset;
    cursor: pointer;

    font-family: $font-sans-serif;

    i {
      padding-left: 20px;
      padding-right: 10px;
    }

    &:hover {
      background-color: rgb(27, 131, 65);
    }
  }

  .image-div-1 {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: end;
    align-items: start;

    background-color: black;

    grid-area: label1;

    .person-picture-1 {
      width: 100%;
      height: auto;
    }
  }
}

// Media query para celulares em geral
@media only screen and (max-aspect-ratio: 1/1) and (orientation: portrait) {
  section {
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "label0"
      "label1";
  }

  #section-1 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "label1"
      "label0";

    .image-div-1 {
      margin-top: 18%;
      background-color: white;
    }

    .text-div-1 {
      padding: 5%;
      grid-area: label0;
    }
  }

  #section-2 {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "label1"
      "label0";

    .image-div-1 {
      width: 98%;
      height: 10vh;

      display: flex;
      justify-content: end;
      align-items: start;
      grid-area: label1;

      background-color: black;

      .person-picture-1 {
        width: 100%;
        height: auto;
      }

      display: none;
    }

    .content-div-1 {
      padding: 0; // Isso aqui resolve o transbordamento
      height: 100vh;

      flex-direction: column;
      align-items: center;
      justify-content: start;

      grid-area: label0;
      gap: 2vh;

      .content-button {
        width: 80%; //90%
        padding-top: 5.5%;
        padding-bottom: 5.5%;

        font-size: 1.254vh;
        line-height: 1.3;
        font-weight: 500;
        color: #202020;
        font-family: $font-sans-serif;
        text-transform: uppercase;
      }

      i {
        padding: 7%; //20px
        border-right: 2px solid #e6e6e6;
        margin-right: 4%; //20px

        font-size: 1.95vh;
      }

      .card {
        width: 86vw;
        max-height: 90vh;

        font-size: 0vh;
        font-family: $font-sans-serif-2;
        font-weight: 400;
        line-height: 1.5;
      }
    }
  }

  #section-3 {
    height: 40vh;
    background-size: 160%;
    background-position: 50% 80%;

    .content-div-2 {
      width: 84%;
      margin-left: -5%;
      margin-bottom: -10%;
      height: 40vh;

      h1 {
        font-family: $font-cursive;
        color: $color-font-golden;
        font-size: 2vh;
        margin-bottom: 1vh;
      }

      .citacao {
        font-family: $font-serif;
        font-size: 2.5vh;
        color: white;
        font-weight: bold;
        line-height: 1.5;
      }

      h5 {
        font-family: $font-sans-serif;
        font-size: 1.24vh;
        color: white;
        font-weight: 600;
      }
    }
  }

  #section-4 {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "label1"
      "label0";

    .content-div-3 {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      grid-area: label0;
      gap: 4vh;
      padding: 0%; //10%

      .title {
        @include text-style($font-serif, 3.77vh, #101010);
      }

      .whatsapp-button {
        width: 65vw;
        margin: 0vh; //4vh
        height: 6vh;

        text-align: start;
        font-size: 2.4vh;

        background-color: #25d366;

        color: white;

        border: unset;
        cursor: pointer;

        font-family: $font-sans-serif;

        i {
          padding-left: 4%; //20px
          padding-right: 4%; //10px
        }

        &:hover {
          background-color: #62ee95;
        }
      }
    }

    .image-div-1 {
      height: 100%;
      width: auto;
      display: flex;
      justify-content: end;
      align-items: start;

      background-color: white;

      grid-area: label1;

      .person-picture-1 {
        width: 100%;
        height: auto;
      }
    }
  }

  // Media query para celulares antigos, como Iphone 5
  @media only screen and (min-aspect-ratio: 40/72) and (orientation: portrait) {
    section {
      width: 100%;
      height: 100vh;

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label0"
        "label1";
    }

    #section-1 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label1"
        "label0";

      .image-div-1 {
        margin-top: 12%;
        background-color: white;
      }

      .text-div-1 {
        padding: 4%;
        grid-area: label0;
      }
    }

    #section-2 {
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label1"
        "label0";

      .image-div-1 {
        width: 98%;
        height: 10vh;

        display: flex;
        justify-content: end;
        align-items: start;
        grid-area: label1;

        background-color: black;

        .person-picture-1 {
          width: 100%;
          height: auto;
        }

        display: none;
      }

      .content-div-1 {
        padding: 0; // Isso aqui resolve o transbordamento
        height: 100vh;

        flex-direction: column;
        align-items: center;
        justify-content: start;

        grid-area: label0;
        gap: 2vh;

        .content-button {
          width: 92%; //90%
          padding-top: 5.5%;
          padding-bottom: 5.5%;

          font-size: 1.8vh;
          line-height: 1.3;
          font-weight: 600;
          color: #202020;
          font-family: $font-sans-serif;
          text-transform: uppercase;
        }

        i {
          padding: 7%; //20px
          border-right: 2px solid #e6e6e6;
          margin-right: 4%; //20px

          font-size: 1.95vh;
        }

        .card {
          width: 86vw;
          max-height: 90vh;

          font-size: 0vh;
          font-family: $font-sans-serif-2;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }

    #section-3 {
      height: 40vh;
      background-size: 132%;
      background-position: 100% 120%;

      .content-div-2 {
        width: 84%;
        margin-left: -5%;
        margin-bottom: -1%;
        height: 20vh;

        h1 {
          font-family: $font-cursive;
          color: $color-font-golden;
          font-size: 2vh;
          margin-bottom: 1vh;
        }

        .citacao {
          font-family: $font-serif;
          font-size: 2.5vh;
          color: white;
          font-weight: bold;
          line-height: 1.5;
        }

        h5 {
          font-family: $font-sans-serif;
          font-size: 1.24vh;
          color: white;
          font-weight: 600;
        }
      }
    }

    #section-4 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label1"
        "label0";

      .content-div-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        grid-area: label0;
        gap: 4vh;
        padding: 0%; //10%

        .title {
          @include text-style($font-serif, 3.77vh, #101010);
        }

        .whatsapp-button {
          width: 65vw;
          margin: 0vh; //4vh
          height: 6vh;

          text-align: start;
          font-size: 2.4vh;

          background-color: #25d366;

          color: white;

          border: unset;
          cursor: pointer;

          font-family: $font-sans-serif;

          i {
            padding-left: 4%; //20px
            padding-right: 4%; //10px
          }

          &:hover {
            background-color: #62ee95;
          }
        }
      }
    }
  }

  @media only screen and (min-aspect-ratio: 22/40) and (orientation: portrait) {
    section {
      width: 100%;
      height: 100vh;

      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label0"
        "label1";
    }

    #section-1 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label1"
        "label0";

      .image-div-1 {
        margin-top: 12%;
        background-color: transparent;
      }

      .text-div-1 {
        padding: 4%;
        grid-area: label0;
      }
    }

    #section-2 {
      margin-top: 22%;
      height: 100vh;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label1"
        "label0";

      .image-div-1 {
        width: 98%;
        height: 10vh;

        display: flex;
        justify-content: end;
        align-items: start;
        grid-area: label1;

        background-color: black;

        .person-picture-1 {
          width: 100%;
          height: auto;
        }

        display: none;
      }

      .content-div-1 {
        padding: 0; // Isso aqui resolve o transbordamento
        height: 100vh;

        flex-direction: column;
        align-items: center;
        justify-content: start;

        grid-area: label0;
        gap: 2vh;

        .content-button {
          width: 92%; //90%
          padding-top: 5.5%;
          padding-bottom: 5.5%;

          font-size: 1.8vh;
          line-height: 1.3;
          font-weight: 600;
          color: #202020;
          font-family: $font-sans-serif;
          text-transform: uppercase;
        }

        i {
          padding: 7%; //20px
          border-right: 2px solid #e6e6e6;
          margin-right: 4%; //20px

          font-size: 1.95vh;
        }

        .card {
          width: 86vw;
          max-height: 90vh;

          font-size: 0vh;
          font-family: $font-sans-serif-2;
          font-weight: 400;
          line-height: 1.5;
        }
      }
    }

    #section-3 {
      height: 40vh;
      background-size: 132%;
      background-position: 100% 120%;

      .content-div-2 {
        width: 84%;
        margin-left: -5%;
        margin-bottom: -1%;
        height: 20vh;

        h1 {
          font-family: $font-cursive;
          color: $color-font-golden;
          font-size: 2vh;
          margin-bottom: 1vh;
        }

        .citacao {
          font-family: $font-serif;
          font-size: 2.5vh;
          color: white;
          font-weight: bold;
          line-height: 1.5;
        }

        h5 {
          font-family: $font-sans-serif;
          font-size: 1.24vh;
          color: white;
          font-weight: 600;
        }
      }
    }

    #section-4 {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "label1"
        "label0";

      .content-div-3 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        grid-area: label0;
        gap: 4vh;
        padding: 0%; //10%

        .title {
          @include text-style($font-serif, 3.77vh, #101010);
        }

        .whatsapp-button {
          width: 65vw;
          margin: 0vh; //4vh
          height: 6vh;

          text-align: start;
          font-size: 2.4vh;

          background-color: #25d366;

          color: white;

          border: unset;
          cursor: pointer;

          font-family: $font-sans-serif;

          i {
            padding-left: 4%; //20px
            padding-right: 4%; //10px
          }

          &:hover {
            background-color: #62ee95;
          }
        }
      }
    }
  }
}
